body {
  margin: 0;
  font-family: sans-serif;

}
header {
  background: url(../images/img1.jpg);
  background-size: cover;
  height: 670px;
  background-repeat: no-repeat;
  position: relative;
}
.navbar {
  background-color: rgb(0, 0, 0, 0.8);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar h3 {
  color: #e8501d;
  font-size: 35px;
  margin-top: 30px;
}
.selectt {
  height: 35px;
  width: 90px;
  background-color: rgb(0, 0, 0, 0.7);
  color: white;
  font-size: 15px;
  margin: 20px;
  outline: white;
}
option:hover {
  background-color: cadetblue;
}
.buttons{
  margin-top: 23px;
}
.button {
  height: 35px;
  width: 80px;
  background-color: #e8501d;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 3px;
  margin:0 50px 0 10px ;
}
.title-container {
  position: absolute;
  height: 600px;
  background-color: rgb(0, 0, 0, 0.6);
  width: 100%;
  justify-content: center;
}
.title {
  color: white;
  position: absolute;
  left: 25%;
  top: 26%;
  text-align: center;
  width: 70%;
}
.title h1{
  font-size: 50px;
  margin: 0;
  width: 70%;
}
#p1{
    font-size: 30px;
    margin: 10px;
    width: 70%;
}
#p2{
    font-size: 20px;
    width: 80%;
}
.input-button{
  display: flex;
}
#input{
    height: 55px;
    margin: 0;
    width: 450px;
    font-size: 18px;
    color: rgb(206, 197, 197);
}
.button-get-started{
    height: 60px;
    width: 200px;
    background-color: #e8501d;
    color: white;
    font-size: 25px;
    border: none;
    margin: 0;
    padding: 5px;
}
.input-buttor{
  display: inline;
}
hr{
  height: 8px;
  background-color: #222222;
  margin: 0;
  outline: none;
  border: none;
}
